<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/profile.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-right">
    <div class="w3-dropdown-hover w3-hide-small w3-right">
      <button class="w3-padding-large w3-button" title="Profile">Hello, User!  <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/{{userid}}/cart" class="w3-bar-item w3-button">Your Cart</a>
        <a href="/{{userid}}/orders" class="w3-bar-item w3-button">Previous Orders</a>
        <a href="/{{userid}}/addresses" class="w3-bar-item w3-button">Saved addresses</a>
        <a href="/{{userid}}/info" class="w3-bar-item w3-button">Your Account</a>
        <a href="/{{userid}}/seller" class="w3-bar-item w3-button">Seller Account</a>
        <a href="/" class="w3-bar-item w3-button">Log Out  <i class="fa fa-sign-out"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#profile" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROFILE</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  lorem ipsum
</div>


</body>
</html>

